<!-- slider.html -->
<body>
    <p>===> Слайдер <===</p>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../Static/IMG/london.jpg" alt="Слайд 1"></div>
            <div class="swiper-slide"><img src="../Static/IMG/ny.jpg" alt="Слайд 2"></div>
            <div class="swiper-slide"><img src="../Static/IMG/spb.jpg" alt="Слайд 3"></div>
        </div>
        <!-- Кнопки навигации -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
    
</body>